<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "http://toolkit.alibaba-inc.com/dtd/log4j/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- ===================================================================== -->
    <!--  以下是appender的定义                                                 -->
    <!-- ===================================================================== -->
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] (%C{2},%L) - %m%n" />
		</layout>
	</appender>
    <appender name="ROOT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/admin/unit-output/logs/root.log"/>
	    <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-5p] (%C{2},%L) - %m%n"/>
        </layout>
    </appender>
	<appender name="Rep" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/admin/unit-output/logs/rep.log"/>
	    <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-5p] (%C{2},%L) - %m%n"/>
        </layout>
    </appender>
    <!-- ===================================================================== -->
    <!--  以下是logger的定义                                                   -->
    <!-- ===================================================================== -->
    <logger name="com.alibaba.hbase.replication" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="Rep"/>
        <appender-ref ref="Console"/>
    </logger>
    
    <!-- ===================================================================== -->
    <!--  Root logger的定义                                                    -->
    <!-- ===================================================================== -->
    <root>
        <level value="ERROR"/>
        <appender-ref ref="ROOT"/>
        <appender-ref ref="Console"/>
    </root>
</log4j:configuration>